@import '../../styles/settings';

.container {
  padding: 6rem 3rem 3rem 3rem;
  font-size: 1.2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: 1em;
  margin-top: 1em;
}

.input {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
  border: 1px solid #e0e0e2;
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  color: #e0e0e2;
  margin-top: 0.8rem;
  -webkit-appearance: none;
  &:focus {
    border: 3px solid $secondary;
    outline: none;
    color: inherit;
  }
}
