.infoWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.info {
  text-align: center;
}

.money {
  font-size: 1.2rem;
}

.text {
  font-size: 0.9rem;
}
