.container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e0e0e2;
  min-height: 4rem;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.about {
  display: flex;
  width: 100%;
  padding: 1.5rem 0;
}

.basic {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-right: 1rem;
}

.info {
  font-weight: normal;
  margin-bottom: 1.5rem;
  width: 100%;
}
