.container {
  width: 100vw;
  min-height: 100vh;
  padding: 12vh 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 1rem;
  color: #7389ae;
  opacity: 0.7;
  text-transform: uppercase;
  margin: 1rem 0;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.income {
  font-size: 1.5rem;
  font-weight: bold;
}

.budget {
  font-size: 2rem;
  font-weight: bold;
}

.budgetInfo {
  text-align: right;
}

.incomeCaption {
  font-size: 0.8rem;
  opacity: 0.5;
  text-transform: uppercase;
}

.goal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.goalTitle {
  font-size: 1.2rem;
}

.goalDue {
  opacity: 0.5;
}
